*{
    box-sizing: border-box;
}

header{
    padding: 35px;
    background-color: #ccc;
    border: 1px solid blue;
    text-align: center;
}

nav{
    float: left;
    width: 20%;
    text-align: center;
}

nav ul{
    list-style-type: none;
    text-align: center;
    background-color: #ccc;
    border: 1px solid blue;
    display: block;
    padding: 8px;
    margin-top: 0px;
}

li{
    padding-top: 50px;
}

.par{
    color: #ff0000;
}

.jud{
    font-size: 25px;
    padding-bottom: 25px;
}

article{
    float: left;
    width: 80%;
    background-color: #ccc;
    border: 1px solid blue;
    padding: 0 50px;
}

.his{
    float: right;
    width: 30%;
    background-color:  #ccc;
    border: 1px solid blue;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color:  darkblue;
}

footer{
    text-align: center;
    margin-top: 700px;
}